.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
    /* making the parent div relative so that the onside element stays inside */
}

.order_id {
    position: absolute;
    top: 40px;
    right: 20px;
}

.order_total {
    font-weight: 800;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .order {
        display: flex;
        flex-direction: column;
    }
    .order_id {
        position: initial;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 420px) {
    .order_total {
        font-weight: 800;
        text-align: center;
    }
    .order h2, p {
        text-align: center;
    }
}